.cart-title {
  display: inline-block;
  text-align: center;
  font-size: 1.5rem;
  color: #15524b;
  margin: 0 auto 20px auto;
  padding: 0px 30px;
  background: linear-gradient(135deg, rgb(213, 248, 253), rgb(226, 255, 226));
  border-radius: 10px;
  border: 1px solid rgba(16, 104, 39, 0.408);
  box-shadow: 0px 0px 10px #888888;
}

.cart-empty {
  font-style: italic;
  color: #666;
}

.cart-items {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 0;
  list-style: none;
}
